:host {
  background-image: url(/assets/lizzoFace.jpg);
    height: 100vh;
    width: 100vw;
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
